/**
* My styles
*/
:host {
   --default-font-color: rgb(21, 22, 22); 
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--default-font-color);
}

.container {
    width: 75em;
    margin: 0 auto;
}